body{
  background-color: rgba(34,34,34,1);
  
}
.font-0{
  color:silver;
  font-weight: bold;
  font-size: 25px;
}
.font-1{
  font-weight: lighter;
  font-size: 20px;
  color:silver;
  margin-top: -10px;

}
.closebtn{
  font-size: 100%;/*ボタンの大きさ*/
  font-weight: bold;
  border: 1px solid #999;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.3em;
  line-height: 1.3em;
  cursor: pointer;
  transition: .2s;
  margin-left: 1400px;

  /* position: absolute;
  margin-left:1370px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s; */
}
.closebtn:hover{
  background: #333;
  border-color: #333;
  color: #FFF;

  /* text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
  6px 0px 15px rgba(255, 255, 240, 0.83); */
}


.slider-nav{
  float:left;
  width: 75%;
}
.slider-for{
  float:left;
  width: 20%;
  height: 500px;
  margin: -160px 30px 30px 30px;
}
.ads{
  width: 20%;
  height: 300px;
  float:left;
  margin: 0px 30px 5px 30px;  
}

.my-2 {
  margin: -10px 20px 20px 0px;
  text-align: center;
}

.btn-3d:focus {
  border-bottom-width: 1.5px;
  border-top-width: 6px;
}

.twitter-3d {
  border-color: #00aced;
  background-color: #18c0ff;
}

.pinterest-3d {
  border-color: #a02222;
  background-color: #c92228;
}

.pinterest-3d {
  border-color: #a02222;
  background-color: #c92228;
}

.google-3d {
  border-color: #b03233;
  background-color: #db3236;
}

.facebook-3d {
  border-color: #354F7E;
  background-color: #3b5998;
}



.sns{
  width: 20%;
  height: 200px;
  float:left;
  margin: 30px;
}

.btn-polygon {
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  margin: 10px;
  font-size: 17.5px;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
}
.btn-polygon:before, .btn-polygon:after {
  font-family: FontAwesome;
  content: attr(icon);
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: 0.5s;
}
.btn-polygon:after {
  color: #fff;
  background: #000;
  transform-origin: left;
  transform: translate(0) rotateY(0);
}
.btn-polygon:hover:after, .btn-polygon:focus:after {
  transform: translate(100%) rotateY(90deg);
}
.btn-polygon:before {
  color: #000;
  background: #fff;
  transform-origin: right;
  transform: translate(-100%) rotateY(90deg);
}
.btn-polygon:hover:before, .btn-polygon:focus:before {
  transform: translate(0) rotateY(0);
}



.btn-expand {
  height: 40px;
  margin-right: 40px;
  font-size: 17.5px;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  position: relative;
}
.btn-expand span {
  display: block;
  line-height: 40px;
}

.btn-expand i {
  width: 20px;
}

.twitter:before {
  background: #00aced;
}

.facebook:before {
  background: #3b5998;
}

.google:before {
  background: #db3236;
}

.pinterest:before {
  background: #c92228;
}

